#root,
.fill {
    width: 100%;
    height: 100%;
    margin: 0 !important;
}

.back-black {
    background-color: black;
}

.fluid {
    width: 100%;
}

.site-header {
    background-color: white;
    box-sizing: border-box;
    padding: 10px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inline {
    display: inline !important;
}

.message-list {
    margin: 30px auto !important;
    overflow-y: scroll;
    height: 80vh;
}

.message {
    .author {
        word-wrap: break-word;
    }

    .show-on-hover {
        opacity: 0;
        transition: 0.1s opacity linear;
    }

    &:hover {
        .show-on-hover {
            opacity: 1;
        }
    }
}

.no-break {
    white-space: nowrap;
}

@keyframes rotate {
    from {
        transform: rotateZ(0);
    }

    to {
        transform: rotateZ(360deg);
    }
}

.rotating {
    animation: rotate 5s linear infinite;
}

.centered {
    margin: 0 auto;
}

.max-300 {
    max-width: 300px !important;
}

.red-on-hover {
    &:hover {
        color: red !important;
    }
}

.keep-breaks {
    white-space: pre-wrap;
}

body {
    background-color: #FAFAFA !important;
}
